@model Personal_Website_MVC_4._6.Models.HomeViewModels.PersonProfile
@{
    ViewBag.Title = "Home Page";

    if(ViewBag.Maintenance == 1)
    {
        Layout = "/Views/Shared/_LayoutNoMenu.cshtml";
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }

}

<!-- #region Header Section -->

<header id="header">
    <div class="pv-container" para-height="100vh">
        <div class="pv-block" style="z-index: 5000;" pv-speed=-1.0 pv-image="/include/images/night-life.jpg">
            @*<h2 class="text-center" style="padding-top: 30vh;">Welcome to Lorin's Official Website</h2>*@
        </div>
    </div>
    <div class="pv-container" para-height="50vh">
        <div class="pv-block" pv-speed=1.0 pv-image="/include/images/night-life.jpg">

        </div>
    </div>
</header>

<!-- #endregion Header Section-->

<!-- #region Intro Section -->


<section id="intro">
    <div class="container" style="min-height: 80vh; background-color: #ffffff; padding: 5rem;">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="@Model.BioImagePath" class="img-responsive" />
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h1 class="text-center">@Model.FirstName @Model.LastName</h1>
            <hr class="hr-heart-single" />
            <h2 class="text-center">@Model.Title</h2>
            <ul style="padding-left: 3rem;">
                @foreach (var item in Model.SkillsList)
            {
                    <li style="list-style: none; padding-left:3rem;"><h4>@item</h4></li>
                }
            </ul>
            <p>@Model.ShortBiio</p>
        </div>
    </div>
</section>


<!-- #endregion Intro Section-->

<!-- #region Quote Section-->


<section id="quote">
    <div class="pv-container" para-height="20vh">
        <div class="pv-block" pv-speed=6.0 pv-image="/include/images/okc.jpg">
            <div id="quote-block">
                <h2 class="text-center" style="">@Model.PersonalQuote</h2>
                <h3 class="text-center"> - @Model.QuoteAuthor</h3>
            </div>
        </div>
    </div>
</section>



<!-- #endregion -->

<!-- #region About Section -->


<section id="about">
    <div class="container" style="">
        <h2 class="text-center">About</h2>
        <hr class="hr-heart-single" />
        <div class="col-sm-12 col-md-6 col-lg-6" id="about-details">
            <p>@Model.BioDetails</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6" id="about-img-container" style="">
            <div class="row">
                <img src="@Model.BioImagePath" class="img-responsive img-circle" style="" />
            </div>
            <div class="row" id="request">
                <h4 class="text-center">Request a Resume</h4>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->

        </div>
    </div>
</section>


<!-- #endregion About Section -->

<aside>
    <div class="pv-container" para-height="50vh">
        <div class="pv-block" pv-speed=1.0 pv-image="/include/images/night-life.jpg"></div>
    </div>
</aside>

<!-- #region Contect Section -->

<section id="contact">
    <div class="container" style="min-height: 50vh; background-color: #ffffff;">
        <h2 class="text-center">Social / Contact</h2>
        <form action="/" method="post">
            <label>Name</label>
            <input type="text" class="form-control" name="name" value="" />
            <label>Email</label>
            <input type="email" class="form-control" name="email" value="" />
            <label>Message</label>
            <textarea class="form-control" name="message"></textarea>
            <input type="button" name="submit" value="Submit" class="btn -btn-info" />
        </form>
    </div>
</section>

<!-- #endregion Contect Section-->
