@{
    ViewBag.Title = "Home Page";

    if(ViewBag.Maintenance == 1)
    {
        Layout = "/Views/Shared/_LayoutNoMenu.cshtml";
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }

}

<div class="pv-container" para-height="50vh">
    <div class="pv-block" pv-speed=-1.0 pv-image="/include/images/night-life.jpg"></div>
</div>
<div class="pv-container" para-height="50vh">
    <div class="pv-block" pv-speed=1.0 pv-image="/include/images/night-life.jpg"></div>
</div>

<div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <img src="@Model.BioImagePath" class="img-responsive img-bio-left" />
        <h1>@Model.FirstName @Model.LastName</h1>
        <h2>@Model.Title</h2>

        <p>@Model.BioDetails</p>
    </div>
</div>


<div class="pv-container" para-height="100vh">
    <div class="pv-block" pv-speed=-1.0 pv-image="include/images/okc.jpg"></div>
</div>

<div class="container" style="min-height: 60vh; background-color: #000000;">
    <h2 class="text-center">More Stuff</h2>
</div>

<div class="pv-container" para-height="100vh">
    <div class="pv-block" pv-speed=-1.0 pv-image="include/images/night-life.jpg"></div>
</div>

<div class="container" style="min-height: 60vh; background-color: #000000;">
    <h2 class="text-center">More Stuff Too</h2>
</div>


